<div class="modal fade" id="modalsenha" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Recuperar senha</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
            Informe seu e-mail
            <form action="{{url_for('recuperar_senha')}}" method="post">
              <input class="form-control" type="email" name="email" id="email" placeholder="E-mail">
        </div>
        <div class="modal-footer">
              <input type="submit" class="btn btn-success" value="Enviar">
            </form>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>