<div class="row border-bottom" style="margin-bottom: 50px;"> 
    <div class="col-9">
        {% include 'includes/modal_vagas.html' %}
        <h3 style="color: rgb(120, 120, 120);">
            {{vaga.nome}}
        </h3>
        <div>
            <strong>Localidade:</strong>
            {{vaga.localidade}}
        </div>
        <div>
            <strong>Salário:</strong>
            {{vaga.salario}}
        </div>
    </div>
    <div class="col-3">  
        <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalresponsabilidades-{{vaga.id}}">Responsabilidades</button>
    </div>
</div>