{% extends 'base.html' %}

{% block titulo %}
    Cadastro
{% endblock %}


{% block conteudo %}

    <div class="container">
        <h1 class="text-center mt-2 mb-2">Cadastre sua conta</h1>
        <form method="post" class="form-register cadastro">
            {{form.hidden_tag()}}

            {{form.nome(class="form-control", placeholder="Nome: ")}}
            {{form.email(class="form-control", placeholder="E-mail: ")}}
            <div class="row">
                <div class="col-6">
                    {{form.senha(class="form-control", placeholder="Senha: ")}}
                </div>
                <div class="col-6">
                    {{form.conf_senha(class="form-control", placeholder="Confirmar senha: ")}}
                </div>
            </div>
            <textarea class="form-control" name="experiencia" placeholder="Experiências"  required></textarea>
            {{form.linkedin(class="form-control", placeholder="Linkedin: ")}}
            <div class="checkbox mb-3">
                <h5>Já tem uma conta?</h5>
                <a class="text-secondary", href="{{url_for('login')}}">Login</a>
            </div>
            {{form.submit(class="btn btn-lg btn-success")}}
        </form>
    </div>
{% endblock %}